* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    font-family: Georgia, serif;
    font-size: 15px;
    max-width: 90%;
    margin: 8px auto;
    padding: 20px
}

/*#message {
    width: 90%;
    padding: 5px;
    margin: 5px 0;
}
*/
#send {
    background-color: #3498DB;
    border: none;
    color: white;
    padding: 14px 30px;
    text-decoration: none;
    margin: 8px 2px;
    cursor: pointer;
}

li {
    margin: 5px 0;
}

#chatControls {
    overflow: auto;
    margin: 0 0 5px 0
}

#connectedUser{
    padding: 20px 100px;
    width: 20%;
    float: left;
    top: 50px;
}

#userlist {
    list-style: devanagari;
    padding-top:10px;
    padding-left:15px;
}


#chat b {
    margin: 5px 0;
    font-weight: 300
}

#chat .timestamp {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
}

#chat article {
    background: #AED6F1;
    padding: 10px;
    margin: 10px 0;
    border-left: 5px solid #85C1E9;
    position: relative;
    word-wrap: break-word;
    width: 80%;
    float: right;
}

#chat article:first-of-type {
    background: #D6EAF8;
    border-left-color: #AED6F1;
    animation: enter .2s 1;
    width: 80%;
    float: right;
}

#message {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    float: right;
}

#message:focus {
    border: 3px solid #555;
}


@keyframes enter {
    from { transform: none;        }
    50%  { transform: scale(1.05); }
    to   { transform: none;        }
}

body.modal-open .display-content{
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}